.modal__network-error-main .modal-body {
    padding: 0;
}

.modal__network-error {
    background: #fff;
    border-radius: 3px;
    text-align: center;
    overflow: hidden;
}
.modal__network-error.hide {
    -webkit-animation: hide-modal 0.6s ease-in-out both;
    animation: hide-modal 0.6s ease-in-out both;
}
.modal__network-error img {
    margin-top: 24px;
}
.modal__network-error .network-error__title {
    display: block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 14px 0 5px 0;
}
.modal__network-error p {
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    margin: 0;
    padding: 0 30px;
}
.modal__network-error .network-error__button {
    height: 40px;
    background: #f65656;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    margin-top: 40px;
}
.modal__network-error .network-error__button:hover {
    background: #ec3434;
}

@-webkit-keyframes show-modal {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes show-modal {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}
@-webkit-keyframes hide-modal {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes hide-modal {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0);
    }
}


/** linear loader **/

.linear-activity {
    overflow: hidden;
    width: 100%;
    height: 4px;
    background-color: #B3E5FC;
    margin: 0px auto;
}


.indeterminate {
    position: relative;
    width: 100%;
    height: 100%;
}

.indeterminate:before {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #03A9F4;
    animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
    content: '';
    position: absolute;
    height: 100%;
    background-color: #4FC3F7;
    animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
    0% {
        left: -100%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}

@keyframes indeterminate_second {
    0% {
        left: -150%;
        width: 100%;
    }
    100% {
        left: 100%;
        width: 10%;
    }
}


/* add quiz modal - ielts */

:root{
    --listening-color: #32B4C8;
    --writing-color: #F9A95A;
    --reading-color: #37854D;
    --speaking-color: #C76378;
    --reading-gradient: linear-gradient(180deg,#337845 0%,#265A35 100%);
    --listening-gradient: linear-gradient(180deg,#33B2C7 0%,#268695 100%);
    --writing-gradient: linear-gradient(180deg,#FAA859 0%,#BB7F44 100%);
    --speaking-gradient: linear-gradient(180deg,#C86478 0%,#954B5A 100%);
    --listening-light: #32b4c81a;
    --reading-light: #37854d17;
    --writing-light: #f9a95a21;
    --speaking-light: #c763781f;
}

/* bg */
.bg-light-listening {
    background-color: var(--listening-light);
}

.bg-light-reading {
    background-color: var(--reading-light);
}

.bg-light-writing {
    background-color: var(--writing-light);
}

.bg-light-speaking {
    background-color: var(--speaking-light);
}

/* normal borders */

.border-listening{
    border:1px solid var(--listening-color) !important;
}

.border-reading{
    border:1px solid var(--reading-color) !important;
}

.border-writing{
    border:1px solid var(--writing-color) !important;
}

.border-speaking{
    border:1px solid var(--speaking-color) !important;
}


/* light borders */
.border-light-listening{
    border:1px solid var(--listening-light) !important;
}

.border-light-reading{
    border:1px solid var(--reading-light) !important;
}

.border-light-writing{
    border:1px solid var(--writing-light) !important;
}

.border-light-speaking{
    border:1px solid var(--speaking-light) !important;
}


/* normal colors */

.color-reading{
    color: var(--reading-color);
}

.color-listening{
    color: var(--listening-color);
}

.color-writing{
    color: var(--writing-color);
}

.color-speaking{
    color: var(--speaking-color);
}

/* spinner */
.spinner {
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.mr-4 {
    margin-right: 5px;
}

/* question */
.question__components ul.tablist {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 30px;
    margin: 0;
    background: #F9FAFB;
    border-bottom-color: #1D2939;
}

.question__components ul.tablist li {
    margin-right: 14px;
    padding: 10px 5px;
    cursor: pointer;
}

.question__components li.tab-active {
    border-bottom: 3px solid #2196F3;
}

.question__components .tab-content__box{
    display: block;
}

.question__components .tab-step__padding{
    padding-left: 32px;
    padding-right: 32px;
    padding-top:32px;
}

.question__components label{
    display: block;
    font-weight: 500;
    margin: 0 0 3px;
    padding: 0;
}

.question__components img.question__types-icon {
    width: 22px;
    margin-right: 6px;
    background: white;
}

.question__components div#question-type > div {
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #D0D5DD;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
}

.question__components .tab-step__seprator {
    padding-top: 24px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #EAECF0;
}

span.tox-statusbar__branding {
    display: none;
}

.question__components ul.question__options-ul {
    list-style: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.question__components li.question__options-pills {
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
}

.question__components li.question__options-pills button {
    background: white;
    border: 1px solid #dbdbdb;
    cursor: pointer;
    padding: 4px 13px;
    border-radius: 20px;
    box-shadow: 0 0 3px #cfcfcf;

}

.question__components p.question__hint-description {
    display: block;
    margin-top: 6px;
    color: #667085;
    font-size: 12px;
}

.question__components blockquote {
    width: 100%;
    background: #f1efef;
    padding: 14px;
    border-radius: 7px;
    border: 2px dashed #d5d5d5;
}

.animate__jello-horizontal{
    -webkit-animation:jello-horizontal .9s both;
    animation:jello-horizontal .9s both;
    color: red;
}

button.question__options-pills-animate.bg-active {
    border-color: #2196f3 !important;
    color: #2196f3;
}

.tiny-css-0 .tox-tinymce {
    border-radius: 0;
    border: 0;
}

.tiny-css-0 .tox-editor-header {
    display: none;
    opacity: 0;
}

.preview__window {
    min-height: 200px;
    overflow-y: scroll;
    padding: 30px;
}

.question_options-box > div {
    margin-left: 20px;
}



/* global */



/* iot */
.ckeditor-wrapper table {
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
    border: 1px solid #ddd;
}

.ckeditor-wrapper table thead > tr > td,.ckeditor-wrapper table thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-bottom-width: 2px;
}

.ckeditor-wrapper table tbody > tr > td,.ckeditor-wrapper table tbody > tr > th,.ckeditor-wrapper table tfoot > tr > td,.ckeditor-wrapper table tfoot > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border: 1px solid #ddd;
}

.ckeditor-wrapper ul,.ckeditor-wrapper ol {
    padding-left: 1.6rem;
    line-height: 1.6;
}

.ckeditor-wrapper ul {
    margin-bottom: 2rem;
}

.ckeditor-wrapper ul > li + li {
    margin-top: 10px;
}

.ckeditor-wrapper ul > li:before {
    content: "\2022";
    color: #00cbc8;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    font-size: 1.6rem;
    line-height: 1;
    position: relative;
    top: 0;
}

.ckeditor-wrapper ul ul {
    list-style-type: circle;
}

.ckeditor-wrapper ul ul li:before {
    content: normal;
}

.ckeditor-wrapper ul ul ul {
    list-style-type: square;
}

.ckeditor-wrapper ul ol {
    list-style-type: decimal;
}

.ckeditor-wrapper ol {
    list-style-type: decimal;
}

.ckeditor-wrapper .tempContDiv input[type="text"] {
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 6px 8px;
}

.ckeditor-wrapper .form_sBox select {
    height: 100%;
    padding: 6px 15px;
}

.ckeditor-wrapper .form_sBox .customArrow {
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.take-test .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.take-test input:focus, .take-test select:focus, .take-test textarea:focus, .take-test button:focus {
    outline: none !important;
}

.reading-result ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 18px;
}

.reading-result .sl-item li {
    list-style: none;
    margin-left: 0px !important;
}

.answer .b-r {
    font-weight: bold;
    color: red;
}

.sl-item.explanation {
    margin: 0px 0px 20px 0px !important;
}

.sl-item.explanation .sl-control {
    top: 0;
}
.sl-item .sl-control {
    display: inline-block;
    margin: 5px 0px 0px 10px;
    position: relative;
    top: 8px;
}

.sl-item .sl-control a {
    display: inline-block;
    line-height: 25px;
    min-height: 25px;
    padding: 0px 10px;
    margin: 0px 0px 5px 5px;
    border-radius: 3px;
    -moz-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
    font-size: 10px;
    color: #327846;
    border: 1px solid #327846;
    font-family: "Montserrat",Helvetica,Arial,sans-serif;
    white-space: nowrap;
}

.sl-item .sl-control a span.icon-explain {
    background-image: url(/img/ielts/reading/icon_explain.png);
}
.sl-item .sl-control a span {
    background-repeat: no-repeat;
    background-position: center center;
    width: 16px;
    height: 17px;
    display: inline-block;
    position: relative;
    margin: 0px 3px 0px 0px;
    top: -1px;
    vertical-align: middle;
    background-size: contain;
}

.review-explanation table {
    width: 100% !important;
}

.realtest-header__bt-review {
    display: flex;
    height: 40px;
    padding: 0px 10px;
    border-radius: 100px;
    align-items: center;
    gap: 10px;
    color: #fff;
    background: #fff;
    border: none;
    border-radius: 100px;
    border: 1px solid #EAECEF;
    color: #294563;
}

.question__input-group .input-group-text {
    background: transparent;
    border: 0;
}

.question__input-group .input-group-text {
    background: transparent;
    border: 0;
}

.question_input-group-add-more .input-group-text {
    opacity:0;
}

.question_input-group-add-more input{
    border: 0;
    border-bottom: 1px dashed #bdbaba;
    cursor: pointer;
    border-radius: 0;
    background: transparent;
}

.question__input-group input[type="radio"] {
    width: 20px;
    height: 20px;
}

span.question__question-label.input-group-text {
    border-radius: 8px 0px 0px 8px;
}

input.question__question-input {
    border-radius: 0 8px 8px 0;
}


.question__components .iot-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: normal;
    gap: 10px;
    margin: 0;
}

.question__components .reading-test .iot-radio input[type="radio"]:checked {
    border: 1px solid #37854D;
    background-color: #37854D;
}
.question__components .iot-radio input[type="radio"]:checked {
    border: 1px solid #294563;
    background-color: #282828;
}
.question__components .iot-radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-clip: content-box;
    border: 1px solid #d5d5d5;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin: 0;
}

.no-product-notice.hidden {
    display: none !important;
}

.no-domain-notice.hidden {
    display: none !important;
}